<div id="<%= dom_id event_ticket %>">
  <p>
    <strong>Name:</strong>
    <%= event_ticket.name %>
  </p>

  <p>
    <strong>Limit number:</strong>
    <%= event_ticket.limit_number %>
  </p>
</div>
