<div id="<%= dom_id ticket_purchase %>">
  <p>
    <strong>Ticket type:</strong>
    <%= ticket_purchase.ticket_type&.name %>
  </p>

  <p>
    <strong>Number of purchased:</strong>
    <%= ticket_purchase.number_of_purchased %>
  </p>

</div>
